fastapi
uvicorn[standard]
pymongo
python-multipart
pillow
colorgram.py
opencv-python
python-dotenv
rembg
numpy<2.0.0
scikit-learn==1.5.2
onnxruntime
cloudinary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic
pydantic[email]
PyJWT
email-validator
gunicorn